#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:500,700);
* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
h1,
h2,
h3,
strong {
  font-weight: 700;
}
body {
  margin: 0;
  min-height: 100vh;
  color: #182c36;
  background-color: #fff6e6;
  padding: 2rem;
}
h1 {
  margin: 0 0 2rem 0;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
section > img {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 hsl(38, 100%, 85%);
}
section {
  position: relative;
}
section .preis {
  position: absolute;
  top: 2rem;
  right: -1rem;
  background-color: #95f5e8;
  color: #182c36;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
section p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section button {
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  color: #fff6e6;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ff9472;
  box-shadow: 3px 3px 0 hsl(200, 38%, 20%);
}
section button:hover {
  cursor: pointer;
  background-color: hsl(200, 38%, 20%);
  box-shadow: 3px 3px 0 #95f5e8;
}
footer {
  margin-top: 2rem;
  text-align: center;
}
